body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(211, 206, 201);
  height: 100vh;
}

html {
  font-size: 16px;
}

h1,
#value {
  font-size: 4rem;
}

button {
  height: 3em;
  width: 6em;
  padding: 1em;
  margin: 1.3em;
  color: rgb(247, 243, 243);
  border: 3px rgb(37, 37, 37) solid;
  border-radius: 10px;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

.decrease {
  background-color: teal;
}

.reset {
  background-color: rgb(206, 113, 206);
  color: black;
}

.increase {
  background-color: rgba(167, 28, 4, 0.986);
  color: lightblue;
}
